@model CourseByCategoryResponseViewModel

<div class="container mb-3">
    <form asp-controller="Course" asp-action="FilterCourseByCategory" method="get" class="row g-3">
        <div class="col-md-5">
            <select asp-for="categoryId" class="form-select" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                <option value="">Select a category</option>
            </select>
        </div>
        <div class="col-md-5">
            <button type="submit" id="searchFilter" class="btn btn-primary w-100">Filter</button>
        </div>
    </form>
</div>
@if (Model.Courses != null && Model.Courses.Any())
{

    <div class="row">
        @{
            var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        }
        @foreach (var item in Model.Courses)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card h-100 d-flex flex-row align-items-center" style="max-height: 150px; padding: 0.5rem;">
                    <img src="https://via.placeholder.com/150" class="card-img" alt="@item.Name" style="width: 150px; height: 100%; object-fit: cover; margin-right: 1rem;">
                    <div class="card-body p-2">
                        <h6 class="card-title" style="font-size: 1rem; font-weight: bold;">@item.Name</h6>
                        <p class="card-text" style="font-size: 0.9rem; margin-bottom: 0.5rem;">@item.Description</p>
                        <p class="card-text" style="font-size: 1rem; font-weight: bold;">@item.Price₺</p>
                        <form asp-controller="Basket" asp-action="CreateBasket" method="post">
                            <input type="hidden" name="courseId" value="@item.Id" />
                            <input type="hidden" name="userId" value="@userId" />
                            <button type="submit" class="btn btn-primary btn-sm" style="font-size: 0.9rem;">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>


}

